name: Deploy Dash App to AWS App Runner

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: your_aws_region
  ECR_REPOSITORY: 479161062380.dkr.ecr.eu-north-1.amazonaws.com/docker_iv_app
  APP_RUNNER_SERVICE_NAME: docker_iv_app 

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: arn:aws:iam::479161062380:role/github_apprunner_permissions

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and push Docker image
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          cd app
          docker build -t $ECR_REPOSITORY .
          docker tag $ECR_REPOSITORY:latest $ECR_REGISTRY/$ECR_REPOSITORY:latest
          docker push ${{ env.ECR_REPOSITORY }}:latest

      - name: Deploy to AWS App Runner using AWS CLI
        run: |
          aws apprunner update-service \
            --service-arn arn:aws:apprunner:eu-west-1:479161062380:service/docker_iv_servide/06d12c73922d43b2bcfc614cf1eacc21 \
            --source-configuration ImageRepository={ImageIdentifier=${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:latest,ImageRepositoryType=ECR}
